<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>delayed_job_admin</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
      /* http://meyerweb.com/eric/tools/css/reset */
      table { width: 100%; }
      th, td { padding:5px; border:1px solid #ccc; }
      .job-details { display:none; }
      .job-details td { padding: 0 1em; }
      .hover { background: #ddd; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
